article {
	min-height: 30em;
}
article h2 {
	margin-top: -1.5em;
	margin-left: 2em;
}
body {
	margin: 0;
	border: 0;
	position: relative;
}
footer {
	background: #d9d9d9;
	text-align: center;
	padding: 1px;
	font-size: 1.25em;
	word-spacing: 15px;
}
header {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 1.5em;
	padding: 3px;
	background-color: #d9d9d9;
}
nav {
	border: 0;
	margin: 0;
}
nav li {
	display: inline;
	padding: .75em 1em;
	margin-left: .5em;
	margin-right: .5em;
	text-align: center;
	font-size: 1.25em;
	color: white;
}
nav li:hover {
	background-color: #111;
}
nav ul {
	border: 0;
	margin: 0;
	padding: 1em;
	background-color: #333;
}
nav ul a:link {
	color: white;
	text-decoration: none;
}
nav ul a:visited {
	color: white;
	text-decoration: none;
}
table {
	float: right;
	margin-right: 27%;
	margin-top: 1em;
	padding: .5em;
	width: 20em;
	border: solid black 1px;
	text-align: center;
	font-size: 1.25em;
}
td {
	border: 1px solid black;
}
#date {
	text-align: right;
	margin-right: 5em;
}
#registry {
	margin-bottom: 5em;
}
#registry h3 {
	margin-top: 2em;
	margin-left: 2em;
}
#registry p {
	margin-left: 4em;
}
#ribbon {
	margin-left: 6em;
}
#thankYou {
	font-style: italic;
	margin: -1em 0 0 6em;
}

/********* Guest Book *********/

form {
	margin: 1em auto 3em auto;
	width: 30em;
}
fieldset {
	border: none;
	text-align: center;
	font-weight: bold;
}
input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: .5em;
	margin: .25em;
}
legend {
	font-size: 1.25em;
	padding-top: 1em;
	padding-bottom: 1em;
}
textarea {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: .5em;
	margin-top: .5em;
	width: 28.5em;
	border-style: 1px inset;
}
#firstName, #lastName {
	width: 14em;
}
#email {
	width: 28.5em;
	position: relative;
}
#submit {
	background: black;
	color: white;
	font-size: 1em;
	margin: 1.5em auto 0 auto;
	font-weight: bold;
	width: 7em;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: .75em;
	
}